body {
    font-family:sans-serif;
    font-size:0.7em;
}

span {
    float:left;
    display: inline-block;
}

div.summary {
    width: 400px;
    height: 400px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    vertical-align: center;
}

div.row {
    margin-bottom: 5px;
}
