span {
    float:left;
    display: inline-block;
}

div.summary {
    text-align: center;
    color: #CECDCD;
    background-color: #3A3535;
    background-clip:content-box;
}

div.row {
    margin-bottom: 5px;
}
